# Calendly - link da pessoa responsável pelas demais áreas de interesse
NEXT_PUBLIC_CALENDLY_URL_GERAL=https://calendly.com/seu-usuario/nome-calendario

# Calendly - link da pessoa responsável pela área "Controle de acesso"
NEXT_PUBLIC_CALENDLY_URL_ACESSO=https://calendly.com/outro-usuario/nome-calendario
